* {
  box-sizing: border-box;
}
.jumbotron {
  background-color: hsl(256, 26%, 20%);
  height: 80vh;
}
.intro-left {
  padding-left: 30px;
}
.intro-left-svg {
  width: 50%;
  height: 50%;
}
.lead > button {
  background-color: white;
  color: black;
  border: white;
}
.title-line {
  border-color: white;
  width: 20%;
  margin-left: 0;
}
.intro-img {
  width: 80%;
  height: 95%;
}
.mid-hr {
  width: 20%;
  margin-left: 0;
  border-color: black;
}

.points {
  padding: 5%;
}

.find-out-container {
  background-color: hsl(256, 26%, 20%);
  height: 25vh;
  margin: 5%;
}

.find-out-left {
  padding: 3%;
}

.find-out-right {
  padding: 5%;
}

.find-out-right-btn {
  text-transform: uppercase;
}

.footer-nav {
  margin: 5%;
}
.footer-header {
  padding: 1%;
}

.footer-body a {
  color: hsl(256, 26%, 20%);
}
.attribution {
  margin: 10px;
}
