@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  letter-spacing: 6px;
}
.intro-left {
  background-image: url(./images/bg-pattern-desktop.svg);
}
#email::placeholder {
  color: hsl(0, 39%, 84%);
}
form {
  position: relative;
}
#email {
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 300px;
}
.form i {
  position: absolute;
  background: url(./images/icon-error.svg);
  left: 275px;
  top: 2px;
  visibility: hidden;
}
.error i {
  visibility: visible;
}
#icon-click {
  position: absolute;
  left: 300px;
  margin-top: 1px;
  background: url("./images/icon-arrow.svg") no-repeat center,
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 10px;
  width: 60px;
  height: 30px;
  box-shadow: 5px 5px 10px lightgray;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
